# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage

# next.js
/.next/
/out/

# 生产环境
/build

# 其他
.DS_Store
*.pem

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境文件
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 日志
*.log
config.bat
